// ................................................................
//       1.     /   Pagrindinių  parametrų  aprašymas  /
// ................................................................

$background-color-1: #31373b; //        nav ul li a
$background-color-2: #718292; //       .footer-container:before
$background-color-3: #24292c;
$background-color-4: #ced3d8; //       img #menu .menu
$background-color-5: #00c2ff; //       .blue-container:before
$background-color-6: #fff; // .blue-container:after * .footer-container:after

$background-1: #24292c; //          nav ul
$background-2: #00c2ff; //         .blue-container
$background-3: #f6f6f6; //         .gray-container
$background-4: #00cc80; //         .cta   Mygtuko fonas ( get started )
$background-5: #718292; //         .footer-container
